EXA_API_KEY=your_exa_api_key_here
# We are using Exa for web search
FIREWORKS_API_KEY=your_fireworks_api_key_here
# We are using Deepseek R1 from Fireworks


# Exa API key: https://dashboard.exa.ai/api-keys
# Fireworks API key: https://app.fireworks.ai/api-keys

# This is an example file. You need to create a file named .env.local in your project folder and add the API key there. If you are deploying this on a hosting platform like Vercel, you should add it to the 'Environment Variables' in the platform's settings.
